.gameplay-container {
    align-items: center;
    width: 60%;
    max-width: 600px; 
    height: 92vh; 
    border: 2px solid #ccc; 
    border-radius: 8px;
    padding: 20px; 
    background-color: #f9f9f9;
    margin: 0 auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .success-message{
    color: green;
    font-weight: bold;
    font-size: 40;
  }